<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FaithChatt</title>
    <meta
      name="keywords"
      content="FaithChatt, Discord server, Christian Discord Server, Online Christian Fellowship, Online Bible Study"
    />
    <meta
      name="description"
      content="FaithChatt is a Christ-centered ministry that desires to reach people around the world with Biblical TRUTH and its application."
    />
    <%- include("head_links.ejs") %>
  </head>
  <body>
    <%- include("navbar.ejs", {active: "Home"}) %>
    <section class="bg-dark">
      <div class="container position-relative">
        <div
          class="text-white text-center d-flex flex-column align-items-center justify-content-center position-absolute bottom-0 start-50 end-50"
        >
          <i class="ti ti-mouse d-none d-lg-block" style="font-size: 2em"></i>
          <i
            class="ti ti-hand-finger d-block d-lg-none"
            style="font-size: 2em"
          ></i>
          <p class="p-2">Scroll!</p>
        </div>
        <div
          class="row align-items-center pb-5"
          style="min-height: calc(100vh - 40px)"
        >
          <div
            class="col-12 col-md-5 col-lg-4 offset-lg-1 d-flex justify-content-center"
          >
            <img
              src="public\FaithChatt_HaloFuller.png"
              class="img-fluid"
              alt="FaithChatt Logo"
              srcset=""
            />
          </div>
          <div class="col-12 col-md-6 col-lg-5 offset-md-1">
            <div class="text-light text-center">
              <header>
                <img
                  src="public\slogan.svg"
                  class="img-fluid"
                  alt="Let's study the word together"
                  srcset=""
                />
                <p class="mb-5 mt-1" style="font-size: 1.5em">
                  Bible Studies • Prayer Support • Daily Fellowship
                </p>
              </header>
              <a
                class="btn btn-warning btn-lg text-capitalize me-4"
                href="https://discord.com/invite/FaithChatt"
              >
                Join Us
                <i class="ti ti-brand-discord ms-1"></i>
              </a>
              <button class="btn btn-outline-warning btn-lg text-capitalize">
                Learn More
                <i class="ti ti-external-link ms-1"></i>
              </button>
            </div>
          </div>
          <div class="col-0 col-lg-1"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="container" style="padding-top: 8em; padding-bottom: 8em">
        <div class="row align-items-center text-center text-md-start">
          <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
            <h1
              class="text-capitalize mb-3 mb-lg-4"
              style="font-size: 4em; width: 100%"
            >
              So Many Channels!
            </h1>
            <p class="fs-4 mb-5 mb-md-0">
              There is time and a <s>place</s> channel for everything. We have
              channels for growing in your faith, having fellowship or talking
              about your hobbies.
            </p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
            <img
              src="public\illustrations/undraw_online_discussion_re_nn7e.svg"
              class="img-fluid"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-0 col-lg-1"></div>
        </div>
      </div>
    </section>
    <section class="bg-dark">
      <div
        class="container text-light text-center text-md-start"
        style="padding-top: 8em; padding-bottom: 8em"
      >
        <div class="row align-items-center">
          <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
            <img
              src="public/illustrations/undraw_group_video_re_btu7 1.svg"
              class="img-fluid mb-5 mb-md-0"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
            <h1
              class="text-capitalize mb-3 mb-lg-4"
              style="font-size: 4em; width: 100%"
            >
              Daily Events!
            </h1>
            <p class="fs-4">
              Our professors host dozens of events every week surpassing many
              bigger servers in both quantity and quality.
            </p>
          </div>
          <div class="col-0 col-lg-1"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="container" style="padding-top: 8em; padding-bottom: 8em">
        <div class="row align-items-center text-center text-md-start">
          <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
            <h1
              class="text-capitalize mb-3 mb-lg-4"
              style="font-size: 4em; width: 100%"
            >
              Not Just a Tennessee Ministry
            </h1>
            <p class="fs-4 mb-5 mb-md-0">
              FaithChatt started as a small server for bible studies in
              Tennessee. Today, it reaches people from every corner of the Earth
              and has resources in 14 languages.
            </p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
            <img
              src="public\illustrations/undraw_planet.svg"
              class="img-fluid"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-0 col-lg-1"></div>
        </div>
      </div>
    </section>
    <section class="bg-dark">
      <div
        class="container text-light text-center"
        style="padding-top: 4em; padding-bottom: 4em"
      >
        <div class="row align-items-start justify-content-around">
          <div class="col-12">
            <h1 class="mb-5 display-4">Meet Our Professors</h1>
          </div>
          <%- include("professor_column.ejs", { professorName: `Rev Dr D.R.
          Fraley`, imageFileName: "DRFraley.jpg", professorBio: `RevDoc has been
          a professing Christian for over 40+ years. He has served as a Youth
          Minister, Sunday School Teacher, Small Group Leader, Minister, and
          College/Seminary Professor for over 35+ years. He holds multiple
          degrees from various colleges and institutions and he is currently
          completing his second doctorate. He's been a lifelong gamer and
          originally only used Discord for gaming and connecting with friends.
          For the past two years his emphasis has shifted to ministry by leading
          Bible studies on numerous servers and even helping found FaithChatt.
          He lives in Tennessee with his wife and two of their three daughters.`
          }) %> <%- include("professor_column.ejs", { professorName: `Rev Dr
          Anthony C Baker`, imageFileName: "DrWatch.jpg", professorBio:
          `Husband, dad, pastor, artist, and musician. Time Magazine's Person of
          the Year in 2006 (no joke!). Loves coffee (big time), good movies, and
          sarcastic humor. Holds a Doctorate in Ministry. Most importantly, a
          servant of the Lord Jesus Christ. All glory belongs to Him! Matthew
          5:16` }) %> <%- include("professor_column.ejs", { professorName:
          `Alfonso Izaquirre Martinez`, imageFileName: "Poncho.png",
          professorBio: `Alfonso Izaquirre Martinez, known online as "Poncho",
          is a professing Christian since Dec. 7th, 2015. He's a regular
          preacher and a -not so good- keyboard player at his Church since last
          2020, where he also serves as a Teacher and has been prepared to be
          ordained in the Youth Ministry in the following months. He's currently
          studying his Bible and Theology Diploma at The Master's Academy
          International. He's not that much into videogames, he likes reading
          and chess. Three years ago, he joined "Luz Admirable", a
          Spanish-speaking youth ministry in Mexico City where he started
          teaching and preaching more often. In mid 2020, he and his friends
          decided to found "Teología para Todos" (Theology for Everyone), a
          youth christian coalition focused on teaching the Gospel of Christ,
          full display to all peoples from every generation and cultural
          background. Poncho lives in Mexico City, and his main hobby is to be
          the President of his own self-proclaimed micronation called The
          H.H.R.R. of Nisea.` }) %> <%- include("professor_column.ejs", {
          professorName: `Steffen`, imageFileName: "Steffen.jpg", professorBio:
          `Steffen has been a Christian all his life, 27 years so far. He was
          baptized at 14 at a youth camp in Poland. He lives in Tennessee but is
          a citizen of both France and the United States. He is currently
          working as an independent contractor, and he has so far spent one year
          at the Full Time Training in London - a seminary of sorts - and he is
          planning on going back as soon as possible. He has served with youth
          often, even during his high school years, and continues to do so now.
          He loves God's Word, and the depths and riches that can be found
          therein. That's why He has started doing online Bible studies - so
          that what He has learned about the Bible can be passed on to others,
          as it not only should, but must be.` }) %>
        </div>
      </div>
    </section>
    <section>
      <div
        class="container d-flex justify-content-center align-items-center"
        style="min-height: 100vh"
      >
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-7">
            <h1 class="mb-5 pb-2" style="font-size: 4.5em">
              Over <%= member_count %> People Have Joined Us
            </h1>
            <p class="fs-3 mb-2 mt-4">Will YOU?</p>
            <a
              href="https://discord.com/invite/faithchatt"
              class="btn btn-warning btn-lg text-capitalize"
            >
              Join Us
              <i class="ti ti-brand-discord ms-1"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <%- include("footer.ejs") %> <%- include("body_scripts.ejs") %>
    <script defer>
      function isElementInViewport(element) {
        const rect = element.getBoundingClientRect();

        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <=
            (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <=
            (window.innerWidth || document.documentElement.clientWidth)
        );
      }

      const professorBios = document.querySelectorAll(".professor-bio");

      professorBios.forEach((professorBio) => {
        const collapsed = professorBio.querySelector(
          ".professor-bio-collapsed"
        );
        const collapsedAnchor = collapsed.querySelector("a");
        const expanded = professorBio.querySelector(".professor-bio-expanded");
        const expandedAnchor = expanded.querySelector("a");

        if (
          collapsed.textContent.length - collapsedAnchor.textContent.length <
          350
        ) {
          collapsedAnchor.classList.add("d-none");
        }

        collapsedAnchor.onclick = () => {
          collapsed.classList.add("d-none");
          expanded.classList.remove("d-none");
        };
        expandedAnchor.onclick = () => {
          collapsed.classList.remove("d-none");
          expanded.classList.add("d-none");
          if (!isElementInViewport(collapsed)) {
            collapsed.scrollIntoView({ behavior: "smooth", block: "center" });
          }
        };
      });
    </script>
  </body>
</html>
