<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FaithChatt</title>
    <meta
      name="keywords"
      content="FaithChatt, Discord server, Christian Discord Server, Online Christian Fellowship, Online Bible Study"
    />
    <meta
      name="description"
      content="FaithChatt is a Christ-centered ministry that desires to reach people around the world with Biblical TRUTH and its application."
    />
    <%- include("head_links.ejs") %>
  </head>
  <body>
    <%- include("navbar.ejs", {active: "Home"}) %>
    <section class="bg-dark">
      <div class="container position-relative">
        <div
          class="text-white text-center d-flex flex-column align-items-center justify-content-center position-absolute bottom-0 start-50 end-50"
        >
          <i class="ti ti-mouse d-none d-lg-block" style="font-size: 2em"></i>
          <i
            class="ti ti-hand-finger d-block d-lg-none"
            style="font-size: 2em"
          ></i>
          <p class="p-2">Scroll!</p>
        </div>
        <div
          class="row align-items-center pb-5"
          style="min-height: calc(100vh - 40px)"
        >
          <div
            class="col-12 col-md-5 col-lg-4 offset-lg-1 d-flex justify-content-center"
          >
            <img
              src="public\FaithChatt_HaloFuller.png"
              class="img-fluid"
              alt="FaithChatt Logo"
              srcset=""
            />
          </div>
          <div class="col-12 col-md-6 col-lg-5 offset-md-1">
            <div class="text-light text-center">
              <header>
                <img
                  src="public\slogan.svg"
                  class="img-fluid"
                  alt="Let's study the word together"
                  srcset=""
                />
                <p class="mb-5 mt-1" style="font-size: 1.5em">
                  Bible Studies • Prayer Support • Daily Fellowship
                </p>
              </header>
              <a
                class="btn btn-warning btn-lg text-capitalize me-4"
                href="https://discord.com/invite/FaithChatt"
              >
                Join Us
                <i class="ti ti-brand-discord ms-1"></i>
              </a>
              <button class="btn btn-outline-warning btn-lg text-capitalize">
                Learn More
                <i class="ti ti-external-link ms-1"></i>
              </button>
            </div>
          </div>
          <div class="col-0 col-lg-1"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="container" style="padding-top: 8em; padding-bottom: 8em">
        <div class="row align-items-center text-center text-md-start">
          <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
            <h1
              class="text-capitalize mb-3 mb-lg-4"
              style="font-size: 4em; width: 100%"
            >
              So Many Channels!
            </h1>
            <p class="fs-4 mb-5 mb-md-0">
              There is time and a <s>place</s> channel for everything. We have
              channels for growing in your faith, having fellowship or talking
              about your hobbies.
            </p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
            <img
              src="public\illustrations/undraw_online_discussion_re_nn7e.svg"
              class="img-fluid"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-0 col-lg-1"></div>
        </div>
      </div>
    </section>
    <section class="bg-dark">
      <div
        class="container text-light text-center text-md-start"
        style="padding-top: 8em; padding-bottom: 8em"
      >
        <div class="row align-items-center">
          <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
            <img
              src="public/illustrations/undraw_group_video_re_btu7 1.svg"
              class="img-fluid mb-5 mb-md-0"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
            <h1
              class="text-capitalize mb-3 mb-lg-4"
              style="font-size: 4em; width: 100%"
            >
              Daily Events!
            </h1>
            <p class="fs-4">
              Our professors host dozens of events every week surpassing many
              bigger servers in both quantity and quality.
            </p>
          </div>
          <div class="col-0 col-lg-1"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="container" style="padding-top: 8em; padding-bottom: 8em">
        <div class="row align-items-center text-center text-md-start">
          <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
            <h1
              class="text-capitalize mb-3 mb-lg-4"
              style="font-size: 4em; width: 100%"
            >
              Not Just a Tennessee Ministry
            </h1>
            <p class="fs-4 mb-5 mb-md-0">
              FaithChatt started as a small server for bible studies in
              Tennessee. Today, it reaches people from every corner of the Earth
              and of every language.
            </p>
          </div>
          <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
            <img
              src="public\illustrations/undraw_planet.svg"
              class="img-fluid"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-0 col-lg-1"></div>
        </div>
      </div>
    </section>
    <section class="bg-dark">
      <div
        class="container text-light text-center"
        style="padding-top: 4em; padding-bottom: 4em"
      >
        <div class="row align-items-center justify-content-around">
          <div class="col-12">
            <h1 class="mb-5 display-4">Meet Our Professors</h1>
          </div>
          <div class="col-12 col-md-5 col-lg-3 mx-0 mx-md-1 mx-lg-3">
            <div
              class="ratio ratio-1x1 rounded-circle"
              style="border: 1rem solid var(--fc-orange)"
            >
              <img
                src="public/professors/sigmund-a19OVaa2rzA-unsplash.jpg"
                class="img-fluid rounded-circle"
                alt=""
                srcset=""
                style="outline: 0.3rem solid var(--fc-light); object-fit: cover"
              />
            </div>
            <h3 class="mt-3">Dr John Doe</h3>
            <p class="fs-5 mb-5">
              With 30 years in the faith, John has pastored three different
              churches and achieved a PhD in theology.
            </p>
          </div>
          <div class="col-12 col-md-5 col-lg-3 mx-0 mx-md-1 mx-lg-3">
            <div
              class="ratio ratio-1x1 rounded-circle"
              style="border: 1rem solid var(--fc-orange)"
            >
              <img
                src="public/professors/sigmund-a19OVaa2rzA-unsplash.jpg"
                class="img-fluid rounded-circle"
                alt=""
                srcset=""
                style="outline: 0.3rem solid var(--fc-light); object-fit: cover"
              />
            </div>
            <h3 class="mt-3">Dr John Doe</h3>
            <p class="fs-5 mb-5">
              With 30 years in the faith, John has pastored three different
              churches and achieved a PhD in theology.
            </p>
          </div>
          <div class="col-12 col-md-5 col-lg-3 mx-0 mx-md-1 mx-lg-3">
            <div
              class="ratio ratio-1x1 rounded-circle"
              style="border: 1rem solid var(--fc-orange)"
            >
              <img
                src="public/professors/sigmund-a19OVaa2rzA-unsplash.jpg"
                class="img-fluid rounded-circle"
                alt=""
                srcset=""
                style="outline: 0.3rem solid var(--fc-light); object-fit: cover"
              />
            </div>
            <h3 class="mt-3">Dr John Doe</h3>
            <p class="fs-5 mb-5">
              With 30 years in the faith, John has pastored three different
              churches and achieved a PhD in theology.
            </p>
          </div>
          <div class="col-12 col-md-5 col-lg-3 mx-0 mx-md-1 mx-lg-3">
            <div
              class="ratio ratio-1x1 rounded-circle"
              style="border: 1rem solid var(--fc-orange)"
            >
              <img
                src="public/professors/sigmund-a19OVaa2rzA-unsplash.jpg"
                class="img-fluid rounded-circle"
                alt=""
                srcset=""
                style="outline: 0.3rem solid var(--fc-light); object-fit: cover"
              />
            </div>
            <h3 class="mt-3">Dr John Doe</h3>
            <p class="fs-5 mb-5">
              With 30 years in the faith, John has pastored three different
              churches and achieved a PhD in theology.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div
        class="container d-flex justify-content-center align-items-center"
        style="min-height: 100vh"
      >
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-7">
            <h1 class="mb-5 pb-2" style="font-size: 4.5em">
              Over <%= member_count %> People Have Joined Us
            </h1>
            <p class="fs-3 mb-2 mt-4">Will YOU?</p>
            <a
              href="https://discord.com/invite/faithchatt"
              class="btn btn-warning btn-lg text-capitalize"
            >
              Join Us
              <i class="ti ti-brand-discord ms-1"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <%- include("footer.ejs") %> <%- include("body_scripts.ejs") %>
  </body>
</html>
